<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body class="flex flex-col font-sans min-h-screen bg-primary">
        {{ partial "navbar.html" (dict "navbar" .Site.Data.navbar "path" .RelPermalink ) }}
        <div class="header">
            <div class="font-extrabold text-4xl md:text-5xl lg:text-6xl text-center pt-24 pb-48 md:pb-64 container">
                {{ block "title" . }}{{ end }}
            </div>
        </div>
        {{ block "content" . }}{{ end }}
        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
