<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ .Site.BaseURL}}img/logo-min.ico" />
<link rel="preload" href="{{ .Site.BaseURL}}css/page.css" as="style">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ if .IsPage }}{{ .Params.Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="robots" content="index,follow">
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
<title>{{ default .Site.Params.Title .Params.Name }}</title>
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ .Site.BaseURL}}css/page.css">
<script type="application/javascript" src="{{ .Site.BaseURL}}js/turbolinks.js"></script>
